{% extends "layout.html" %}
{% block body %}
<div class="container small" style="margin-top:150px">
    <div class="package small">
        <h6>Sign in</h6>
        <hr>
        <div class="part">
            <div class="message warning">
                Please enter a correct username and password. Note that both fields may be case-sensitive.
            </div>
        </div>
        <div class="part">
            <form class="wide" method="post" action="{{ url_for('AuthView:login_post') }}">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Sign in">
            </form>
        </div>
        <p class="small">
            <a class="silent" href="#">Reset my password</a>
        </p>
    </div>
    </div>
</div>
{% endblock %}
