{% extends "layout.html" %}
{% block body %}
<div class="container small" style="margin-top:150px">
    <div class="package small">
        <h6>Change password</h6>
        <hr>
        <div class="part">
            <div class="message warning">
                Note that the old password field may be case-sensitive.
            </div>
        </div>
        <div class="part">
            <form class="wide" method="post" action="{{ url_for('UserPasswordView:post') }}">

            {% if form.errors %}
            <div class="part">
                <div class="message warning">
                    <ul class="errors">
                        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                            {% for error in field_errors %}
                                <li>{{ error }}: {{ form[field_name].name }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    </div>
            </div>
            {% endif %}
             {{ form.hidden_tag() }}
            {{form.old_password(placeholder="old password")}}
            {{form.password(placeholder="new password")}}
            {{form.confirm(placeholder="new password again")}}
                <input type="submit" value="Sign in">
            </form>
        </div>
        <p class="small">
            <a class="silent" href="#">Reset my password</a>
        </p>
    </div>
    </div>
</div>
{% endblock %}
