<html>
    <head>
        <title>Bitvid</title>
        <link href="{{ url_for('static', filename='frontend-ui/styles/glace.css') }}" rel="stylesheet">

    </head>
    <body>

    <div class="sidebar">
        <h6>Videos</h6>
        <div class="menu vertical closer">
            <form action="{{ url_for('VideoView:index') }}">
                <input type="text" name="q" placeholder="Search">
            </form>

            <a class="item selected" href="{{ url_for('VideoView:index') }}">
                <span class="icon small"></span>
                Subscriptions
                <span class="label">15</span>
            </a>
            <a class="item" href="#">
                <span class="icon small"></span>
                Queue
                <span class="label">3</span>
            </a>
            <a class="item" href="#">
                <span class="icon small"></span>
                Favorites
                <span class="label">24</span>
            </a>
            <a class="item" href="#">
                <span class="icon small"></span>
                Popular
            </a>
        </div>

        <h6>Account</h6>
        <div class="menu vertical closer">
            {% if not session.client_token %}
                <div class="part">
                    <a href="{{ url_for('AuthView:get') }}" class="button wide part">Login</a>
                </div>

                <div class="part">
                    <a href="{{ url_for('RegisterView:get') }}" class="button wide part">Register</a>
                </div>
            {% else %}
                <a class="item" href="{{ url_for('VideoUploadView:get') }}">
                    <span class="icon small"></span>
                    Upload
                </a>
                <a class="item" href="{{ url_for('UserView:index') }}">
                    <span class="icon small"></span>
                    Profile
                </a>
                <div class="part">
                    <a href="{{ url_for('AuthView:logout') }}"class="button wide part">Logout</a>
                </div>
            {% endif %}

        </div>
    </div>
    <div class="content">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
                
        {% block body %}{% endblock %}
        </div>
    </div>
    </body>
</html>