{% extends "layout.html" %}
{% block body %}
<div class="container">
    <h3><a href="{{url_for('UserView:get',userid=video.user_id)}}">{{video.user_name}}</a> <span class="unbold">posted</span></h3>
    <div class="large-8">
        <div class="package">
            {% if "webm" in videoMedias %}
            <center style="margin-top:5px">
                <video height="{{videoMedias['webm'].height}}" controls>
                    {% for video in videoMedias.values() %}
                        <source src="{{video.path}}" type="video/{{video.codec}}">
                    {% endfor %}
                  Your browser does not support the video tag.
                </video>
            </center>
            {% else %}
                No VideoMedia converted (yet)
            {% endif %}
            <hr class="attached">
            <div class="large-6 medium-8">
                <h3>{{video.title}}</h3>
                <p>{{video.description}}</p>
            </div>
            <div class="large-2 medium-8 silent">
                <h3>6,567,787 views</h3>
                <h4>7,787 points</h4>
            </div>
            <hr>
            <div class="part small">
                <form class="wide" method="post" action="{{ url_for('VideoCommentView:post') }}">
                    <input type="hidden" name="videoToken" value="{{video.token}}">
                    <label>Title</label>
                    <input type="text" name="title" placeholder="Comment Title" />
                    <label>Text</label>
                    <textarea rows="5" name="content" placeholder="Lorem ipsum dolor something something I forgot how it continues"></textarea>
                    <input type="submit" value="Post your comment Swaggot!">
                </form>
            </div>
            <div class="part small">
            {{ comments }}
                {% for comment in comments %}
                    {% include 'comment_element.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
